
.audio-list, .your-list
{
    padding: 15px;

    align-items: flex-start;
}

.audio-list h3, .your-list h3
{
    font-weight: normal;

    width: 100%;
    margin-bottom: -5px;

    text-align: center;

    color: rgba(0, 0, 0, 0.7);
}

.track
{
    display: flex;

    width: 100%;

    align-items: center;
    flex-flow: row nowrap;
}

.track .play
{
    min-width: 15px;
    height: 15px;
    margin: 0 10px 0 5px;

    cursor: pointer;
    transition: 0.5s all;

    opacity: 0.7;
    background-image: url("./../img/icons/play.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.track p
{
    margin-top: 3px;

    transition: 0.5s all;

    color: rgba(0, 0, 0, 0.7);
}

.track form .add, .track form .remove
{
    min-width: 15px;
    height: 15px;
    margin: 0 5px 0 10px;

    cursor: pointer;
    transition: 0.5s all;

    opacity: 0.1;
    border: 0;
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-size: contain;
}

.track form .add:hover, .track form .remove:hover
{
    opacity: 0.7;
}

.track form
{
    margin-left: auto;
}

.track form .add
{
    background-image: url("./../img/icons/add.svg");
}

.track form .remove
{
    background-image: url("./../img/icons/remove.svg");
}

.popup
{
    position: fixed;
    top: 50%;
    left: 50%;

    display: flex;

    margin: 50px;
    padding: 50px;

    transform: translate(-50%, -50%);

    flex-flow: column nowrap;
}

.popup input
{
    width: 350px;
    min-height: 65px;
    margin: 20px 0;

    text-align: center;

    border: 0px solid white;
}

.popup input[type="text"]
{
    padding: 0 15px;

    transition: 0.3s all;
    transform: scale(0.97);

    color: rgb(160, 160, 160);
    border-bottom: 1px solid rgb(172, 172, 172);
}

.popup input[type="text"]:hover
{
    border-bottom: 1px solid rgb(172, 172, 172);
}

.popup input[type="text"]:focus
{
    transform: scale(1);

    color: #012F3F;
    border-bottom: 1px solid #012F3F;
}

.popup input[type="submit"]
{
    font-size: 16px;

    display: flex;

    transition: 0.3s all;
    transform: scale(0.97);

    color: white;
    background-color: #012F3F;

    align-items: center;
    justify-content: center;
}

.popup input[type="submit"]:focus, .popup input[type="submit"]:hover
{
    font-size: 18px;

    transform: scale(1);
}
