@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, button, textarea, a
{
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
}

html, body
{
    min-width: 320px;
    height: 100vh;
    min-height: 100%;
}


body
{
    display: flex;

    background-image: url("../img/authBackground.jpg");
    background-size: cover;

    align-items: center;
    flex-flow: column nowrap;
}

.authForm
{
    display: inline-flex;

    min-width: 30%;
    padding: 50px;

    background-color: #FFFFFF;

    align-items: center;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: center;
}

.authInput
{
    width: 350px;
    min-height: 65px;
    margin: 20px 0;

    text-align: center;

    border: 0px solid white;
}

.authText
{
    padding: 0 15px;

    transition: 0.3s all;
    transform: scale(0.97);

    color: rgb(160, 160, 160);
    border-bottom: 1px solid rgb(172, 172, 172);
}

.authText:hover
{
    border-bottom: 1px solid rgb(172, 172, 172);
}

.authText:focus
{
    transform: scale(1);

    color: #012F3F;
    border-bottom: 1px solid #012F3F;
}

.authButton
{
    font-size: 16px;

    display: flex;

    transition: 0.3s all;
    transform: scale(0.97);

    color: white;
    background-color: #012F3F;

    align-items: center;
    justify-content: center;
}

.authButton:focus, .authButton:hover
{
    font-size: 18px;

    transform: scale(1);
}

.authForm h2
{
    margin-bottom: auto;
    padding-bottom: 100px;

    text-align: center;
}

.authForm h3
{
    font-size: 16px;

    text-align: center;

    color: #012F3F;
}

.authForm p
{
    margin-top: auto;
    padding-top: 100px;

    color: rgb(160, 160, 160);
}

.authForm a
{
    transition: 0.3s all;
    text-decoration: none;

    color: rgb(160, 160, 160);
}

.authForm a:hover
{
    color: #012F3F;
}

.authTextArea
{
    resize: vertical;
}

@media screen and (max-width: 768px)
{
    .authForm
    {
        width: 100%;
    }
}

@media screen and (max-width: 425px)
{
    .authInput
    {
        width: 100%;
    }
}
@media screen and (max-width: 375px)
{
    .authForm
    {
        padding: 35px 25px;
    }
}
@media screen and (max-width: 320px)
{
    .authForm
    {
        padding: 25px 15px;
    }
}
