@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, input, button, textarea, a
{
	font-family: "Comfortaa", sans-serif;
	font-size: 18px;
}

html, body
{
	width: 100%;
	min-height: 100vh;
}

html
{
	height: 100%;
}

body
{
	display: flex;
	flex-flow: column nowrap;

	min-height: 100%;

	background-image: linear-gradient(-20deg, #E9DEFA 0%, #FBFCDB 100%);
	background-attachment: fixed;
}

a
{
	text-decoration: none;
}

hr
{
	align-self: center;

	width: 100%;
	margin: 15px -20px;

	border: 0;
	border-top: 1px solid rgba(0,0,0,0.3);
}

.content
{
	display: grid;
	flex-grow: 1;

	width: 100%;
	max-width: 1440px;
	min-height: 100%;
	margin: 0 auto;
	padding: 15px;
	padding-top: 55px;

	grid-gap: 15px;
	grid-template-columns: 300px 1fr 1fr;
}

.nav-menu, .profile_info, .profile-setting, .audio-list, .your-list, .popup, .user-list, .message-box, .dialog-list, .post, .create-post
{
	
	display: flex;
	align-items: center;
	align-self: start;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;

	width: 100%;
	min-width: 300px;

/* margin: 50px 25px 25px 25px; */
	padding: 0px 25px 25px 25px;

	border-radius: 15px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-menu
{
	position: sticky;
	top: 15px;

	width: 300px;
	padding: 15px;
}

.nav-menu a
{
	transition: 0.3s all;

	color: rgba(0,0,0,0.5);
}

.nav-menu a:hover, #active
{
	color: rgba(0,0,0,1);
}

img
{
	object-fit: cover;
}

.audioControl
{
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	width: 100%;
	padding: 10px 20px;

	background-color: #FFFFFF;
}

.audioControl > .trackLenght
{
	flex-grow: 1;
}

.previousTrack, .pauseTrack, .nextTrack
{
	width: 25px;
	height: 25px;

	cursor: pointer;

	opacity: 0.8;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.previousTrack
{
	transform: rotate(180deg);

	background-image: url("./../img/icons/trackSwipe.png");
}

.pauseTrack
{
	height: 20px;
	margin: 0 6px;

	background-image: url("./../img/icons/play.svg");
}

.pauseTrack.pause
{
	background-image: url("./../img/icons/pause.svg");
}

.nextTrack
{
	background-image: url("./../img/icons/trackSwipe.png");
}

.infoTrack
{
	position: relative;

	overflow: hidden;

	max-width: 400px;
	margin-left: 15px;
	padding-right: 10px;

	white-space: nowrap;
}

.infoTrack.more::after
{
	position: absolute;
	right: 0;

	padding-left: 5px;

	content: "...";

	background-color: #FFFFFF;
}

.trackLenght
{
	margin: 0 15px;
}

.rangeVolume
{
	margin-left: 15px;
}

.previousTrack.disable, .pauseTrack.disable, .nextTrack.disable
{
	cursor: default;

	opacity: 0.3;
}

.column-wrapper
{
	display: grid;
	align-self: start;

	grid-gap: 15px;
}

.audioPlayControl
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;
}

.create-post
{
	position: relative;
}

emoji-picker
{
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
}

emoji-picker.hide
{
	display: none;
}


.media-controls
{
	padding: 0 15px;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-end;

	width: 100%;
	margin: 15px 0;
}

@media screen and (max-width: 1200px)
{
	.content
	{
		grid-template-columns: 300px 1fr;
	}
	.column-wrapper
	{
		grid-column: 2;
	}
}

@media screen and (max-width: 1200px)
{
	.audioControl
	{
		flex-flow: row wrap;
	}
	.infoTrack
	{
		order: -1;

		width: 100%;
		max-width: 100%;

		text-align: center;
	}
}

@media screen and (max-width: 768px)
{
	.content
	{			
		grid-template-columns: 1fr;
	}
	.nav-menu
	{
		position: static;
		width: 100%;
		margin-bottom: 35px;
	}
	.column-wrapper
	{
		grid-column: 1;
	}
}

@media screen and (max-width: 600px)
{
	.audioPlayControl
	{
		width: 100%;
		margin: 15px 0;
	}
}

@media screen and (max-width: 450px)
{
	.rangeVolume
	{
		width: 100%;
		margin-top: 15px;
	}
}