@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");

*, *::before, *::after
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, input, button, textarea, a
{
	font-family: "Comfortaa", sans-serif;
	font-size: 18px;
}

html, body
{
	width: 100%;
	min-height: 100vh;
}

html
{
	height: 100%;
}

body
{
	display: flex;
	flex-flow: column nowrap;

	min-height: 100%;

	background-image: linear-gradient(-20deg, #E9DEFA 0%, #FBFCDB 100%);
	background-attachment: fixed;
}

a
{
	text-decoration: none;
}

hr
{
	align-self: center;

	width: 100%;
	margin: 15px -20px;

	border: 0;
	border-top: 1px solid rgba(0,0,0,0.3);
}

.content
{
	display: flex;
	align-items: flex-start;
	flex-flow: row wrap;
	flex-grow: 1;
	justify-content: center;

	max-width: 1440px;
	min-height: 100%;
	margin: 0 auto;
	padding: 15px;
}

.nav-menu, .profile_info, .profile-setting, .audio-list, .your-list, .popup, .user-list, .message-box, .dialog-list
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;

	width: 450px;
	min-width: 300px;
	margin: 50px 25px 25px 25px;
	padding: 0px 25px 25px 25px;

	border-radius: 15px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav-menu
{
	width: 300px;
	padding: 15px;
}

.nav-menu a
{
	transition: 0.3s all;

	color: rgba(0,0,0,0.5);
}

.nav-menu a:hover, #active
{
	color: rgba(0,0,0,1);
}

img
{
	object-fit: cover;
}

.audioControl
{
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	width: 100%;
	padding: 10px 20px;

	background-color: #FFFFFF;
}

.audioControl > .trackLenght
{
	flex-grow: 1;
}

.previousTrack, .pauseTrack, .nextTrack
{
    cursor: pointer;
    opacity: 0.4;
	width: 25px;
	height: 25px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.previousTrack
{
    transform: rotate(180deg);
    background-image: url('./../img/icons/trackSwipe.png');
}

.pauseTrack
{
    margin: 0 6px;
    height: 20px;
    background-image: url('./../img/icons/play.svg');
}

.nextTrack
{
    background-image: url('./../img/icons/trackSwipe.png');
}

.infoTrack
{
    margin-left: 15px;;
}

.trackLenght
{
    margin: 0 15px;
}

.rangeVolume
{
	margin-left: 15px;
}